.headerBtn .sapMBtnInner {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    border: none !important;
}

.headerBtn .sapMBtnContent {
    justify-content: flex-start !important;
    text-align: left !important;
}

.sapMColumnHeader {
    padding: 0 !important;
}

.sapMPanelContent{
    padding: 0 !important;
}

.sapMLIB{
    padding: 0 !important
}

.customLineHeight {
    line-height: normal !important;
}